<h3>Topography</h3>
<p-treeTable [value]="files1">
    <p-column field="service" header="Service"></p-column>
    <p-column field="items" header="Items"></p-column>
    <p-column field="lastItemItemstamp" header="Last Item Timestamp"></p-column>
    <p-column field="pingable" header="Pingable"></p-column>
</p-treeTable>

<div class="ui-g ui-fluid">
    <div class="ui-g-11">
    </div>
    <div class="ui-g-1">
        <button type="button" (click)="refresh()" pButton label="Sync"></button>
    </div>
</div>