(optional) "kubectl --namespace=xqa get svc xqa-query-balancer": <input type="text" size="16" pInputText placeholder="CLUSTER-IP..." [(ngModel)]="k8sIP">
<p>&nbsp;</p>

<textarea [rows]="12" style="width:100%" pInputTextarea [(ngModel)]="xquery"></textarea>

<p>&nbsp;</p>
<p>NOTE: response time depends on xqa-query-balancer <strong><em>shard*Timeout</em></strong> values in docker-compose | k8s .yml file
    <button pButton type="button" label="run" (click)="run()"></button>
    &nbsp;
    <button pButton type="button" label="clear" (click)="clear()"></button>
</p>
<p>&nbsp;</p>

<textarea [rows]="12" style="width:100%" pInputTextarea [(ngModel)]="materialisedResponse" readonly></textarea>