<div class="ui-g ui-fluid">

  <div class="ui-g-2">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">
        <i class="fa fa-pencil"></i>
      </span>
      <input type="text" pInputText placeholder="enter value here..." [(ngModel)]="edited">
    </div>
  </div>

  <div class="ui-g-8">
    <div class="content-section implementation">
      <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
    </div>
  </div>

  <div class="ui-g-1">
    <button type="button" (click)="ok()" pButton label="OK"></button>
  </div>

  <div class="ui-g-1">
    <button type="button" (click)="clear()" pButton label="Clear"></button>
  </div>

</div>

<p-dataTable [value]="cars1" scrollable="true" scrollHeight="440px">
  <p-column field="time" header="Time"></p-column>
  <p-column field="service" header="Service"></p-column>
  <p-column field="subject" header="Subject"></p-column>
  <p-column field="correlationId" header="CorrelationId"></p-column>
  <p-column field="sha256" header="sha256"></p-column>
</p-dataTable>