<div class="ui-g ui-fluid">

  <div class="ui-g-2">
      <input type="text" pInputText placeholder="enter value here..." [(ngModel)]="edited">
  </div>

  <div class="ui-g-1">
    <p-radioButton name="group1" value="service" label="service" [(ngModel)]="val1" inputId="service"></p-radioButton>
  </div>
  <div class="ui-g-1">
    <p-radioButton name="group1" value="subject" label="subject" [(ngModel)]="val1" inputId="subject"></p-radioButton>
  </div>
  <div class="ui-g-1">
    <p-radioButton name="group1" value="correlationId" label="correlationId" [(ngModel)]="val1" inputId="correlationId"></p-radioButton>
  </div>
  <div class="ui-g-1">
    <p-radioButton name="group1" value="digest" label="digest" [(ngModel)]="val1" inputId="digest"></p-radioButton>
  </div>

  <div class="ui-g-1">
    <button type="button" (click)="ok()" pButton label="OK"></button>
  </div>
  <div class="ui-g-1">
    <button type="button" (click)="clear()" pButton label="Clear"></button>
  </div>

</div>

<p-dataTable [value]="cars1" scrollable="true" scrollHeight="440px">
  <p-column field="service" header="service"></p-column>
  <p-column field="subject" header="subject"></p-column>
  <p-column field="correlationId" header="correlationId"></p-column>
  <p-column field="digest" header="digest"></p-column>
</p-dataTable>
